doctype html
html(lang="en")
  head
    link(rel="shortcut icon" type="image/x-icon" href="favicon.png")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 問題
  body
    section.quizView
      p 
        span#quizID 000
        span#quizGenre 000
      h3 問題
      p#quizText これはクイズの問題文です
      ol#quizChoices
        button#choice_0 loading...
        button#choice_1 loading...
        button#choice_2 loading...
        button#choice_3 loading...
      h3 説明欄
      p#quizDescription.description_hidden loading...
      button#nextQuiz 次のクイズ
      #answerInfo
        p#correnctTimes 正解数 : 0
        p#incorrenctTimes 不正解数 : 0
        p#correctRatio 正解率 : 0 %
    pre#viewer 
    script(type = "module" src = "./main.js")
    