html
  background-color: #3a3a3a
  color: #fafafa

body
  width: 80%
  margin: 0 auto 
  ol
    padding: 0
  button
    margin: 5px 0

  #answerInfo
    display: grid
    grid-template-columns: 100px 100px
  #correnctTimes
    font-size: 12px
  #incorrenctTimes
    font-size: 12px
  #quizChoices
    display: flex
    flex-flow: column
    button
      height: 40px
  .description_hidden
    display: none
  .description_display
    display: block
  #nextQuiz
    width:100%
    height: 40px
    align-content: center